<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.led_on_off.led">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name="com.sirtprojects.testejuh.Activities.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sirtprojects.testejuh.Activities.DeviceList"
            android:label="@string/app_name" />
        <activity
            android:name="com.sirtprojects.testejuh.Activities.ledControl"
            android:label="Comandos" />
        <activity android:name="com.sirtprojects.testejuh.Activities.TestsActivity" />
        <activity android:name="com.sirtprojects.testejuh.Activities.LayoutActivity" />
        <activity android:name="com.sirtprojects.testejuh.Activities.EditionActivity" />
        <activity android:name="com.sirtprojects.testejuh.Activities.MainActivity" />
        <activity
            android:name="com.sirtprojects.testejuh.Activities.EditExerciseActivity"
            android:configChanges="keyboardHidden" />
        <activity android:name="com.sirtprojects.testejuh.Activities.EditListExercisesActivity" />
        <activity android:name="com.sirtprojects.testejuh.Activities.EditActivity" />
        <activity android:name="com.sirtprojects.testejuh.Activities.EditTrainingActivity" />
        <activity android:name="com.sirtprojects.testejuh.Activities.TrainingsActivity"></activity>
    </application>

</manifest>